
    <ol class="post-list">
        <li>
          <div class="col-12">
            <div class="card">
              <div class="card-header">
              <a class="post-title" href="{{post_url}}">{{title}}</a>
              <span class="author"> {{format_date created_at}}</span>
            </div>
            <div class="card-body">
              {{contents}}
            </div>
          </div>
        </li>
    </ol>
  </section>