{{!-- <section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-contents">Contents</label>
      <input type="text" id="post-contents" name="post-contents" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section> --}}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <nav>
        {{#if loggedIn}}
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
      <h1>
        <a href="/">Your Tech Blog</a>
      </h1>
    </header>
    <main>
      {{{ body }}}

    </main>
  </div>
  {{#if loggedIn}}

 <footer class="footer flex-row justify-center">
    <a href="/dashboard/new">➕ New Post</a>
</footer>

<script src="/javascript/add-post.js"></script>
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>






{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Tech Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="flex-column min-100-vh">
    <header class="hero">
        <h1 class="app-title"><a href="/">Your Tech Blog</a></h1>
        <nav class="navbar">
        <ul class="flex-row">
            <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
            <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    </header>
    
    <main class="col-auto">
        {{{body}}}
    </main>

    <footer class="footer flex-row justify-center">
        <a href="/dashboard/new">➕ New Post</a>
    </footer>
</body>

<script src="/javascript/logout.js"></script>

</html>

 --}}





