{{!-- <a class="new-post" href="/login">Login</a> --}}

 {{#if posts.length}}
      <section>
        <h2>Your Posts</h2>
        <ol>
          {{#each posts}}
          <li>
            {{!-- {{> post-info post}} --}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">
              <span>{{title}}</span>
              <span>{{format_date createdAt}}</span>
              </a>
          </li>
          {{/each}}
        </ol>
      </section>
  {{/if}}
{{#if loggedIn}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/comment.js"></script>
{{/if}} 