 {{#if posts.length}}
<section>
    <ol class="post-list">
      {{#each posts as |posts|}}
        <li>
          <div class="col-12">
            <div class="card">
              <div class="card-header home-post">            
              <a class="dash-post-title" href="/dashboard/edit/{{post.id}}">{{title}}</a>
              <span class="author"> {{format_date created_at}}</span>
            </div>
          </div>
        </li>
      {{/each}}
    </ol>
  </section>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/comment.js"></script>
{{/if}} 
