{{!-- posts --}}
{{!-- {{> post-info post }} --}}

{{!-- form and comments --}}
{{!-- {{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}} --}}

{{!-- {{> comments post.comments}}

{{!-- to conditionally render the <script> element --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}} --}}

  
<div>
    {{#each posts}}
    <a href="/dashboard/edit/{{id}}">
        <span>{{title}}</span>
        <span>{{format_date createdAt}}</span>
    </a>
    {{/each}}
</div>