:root {
  --light-dark: #6f6866;
  --dark: #231206;
  --border-radius: .3rem;
}
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  transition: color .1s;
}

button {
  border: 0;
  padding: 1%;

  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

.post-list {
  margin: 0;
  padding: 0;
}

ol {
  list-style: none;
}

.form-input {
  width: 100%;
  padding: 1%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus, .form-input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  padding: 0 1%;
  background-color: var(--dark);

}

header nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2%;
}

header h1 a {
  font-size: 1em;
  color: var(--dark);
  border: solid #D7E4C9 1px;
  background-color: #D7E4C9;
  padding: 0 10px;
  margin-left: 2%;
  border-radius: .3rem;
  box-shadow: 6px 5px #6f6866;
}

nav a {
  color: #D7E4C9;
  padding-right: 7%;
}

main {
  flex: 1;
  padding: 2% 4%;
  background-color: #D7E4C9;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #D7E4C9;
  font-size: 100%;
  transition: color .1s;
}

.btn-no-style:hover {
  background: none;
}
.btn {
  font-size: 1.3rem;
  text-decoration:none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: #ccdad1;
  border: none;
  outline: none;
  background-color: #6f6866;
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

/* CARDS */
.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: .3em;
}

.card-header {
  color:  #8f9c9c;
  background-color: var(--dark);
  padding: 1.25%;
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
  display: flex;
  justify-content: space-between;
}

.card-body {
  padding: 2.5%;
}

.title {
 font-size: 1.25rem;
 font-weight: bold;
}

.author {
  color:  #8f9c9c;
  font-size: small;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
}

.dash-post-title {
  color: #D7E4C9;
  font-size: large;
}

.post-title {
  font-weight: bold;
  font-size: 1.25rem;
  color: #D7E4C9;
}

.home-post:hover {
  transition: #8f9c9c .1s;
  background-color: #8f9c9c;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment-title, .comment-text, .comment-meta {
  margin: 2%;
}


.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.edit-post-form {
  margin-bottom: 5%;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1%;
  font-size: 110%;
  background-color: #D7E4C9; 
  color: var(--dark);
}
